/* content first */
/********************************/
.l-s-title {
  text-align: center;
  margin-bottom: 50px;
}

.s-title {
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 20px 0 0 160px;
  color: black;
  font-family: 'Cuprum', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  &:before {
    content: '';
    background: url('../img/sprite/bas.png') 0 0 no-repeat;
    width: 159px;
    height: 141px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

/* .feature */
.feature {
  font-size: 0;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 150px;
}

.feature__col {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  position: relative;
  &:nth-child(1) {
    width: 26%;
    margin-right: 12%;
  }
  &:nth-child(2) {
    width: 26%;
    margin-right: 12%;
  }
  &:nth-child(3) {
    width: 24%;
  }
}

.feature__title {
  color: black;
  padding-top: 12px;
  margin-bottom: 8px;
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.feature__note {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.feature__ico {
  height: 150px;
  display: table-cell;
  vertical-align: bottom;
}

.feature__ico--plus {
  &:before {
    content: '';
    background: url('../img/sprite/add.png') 0 0 no-repeat;
    width: 162px;
    height: 134px;
    display: inline-block;
  }
}

.feature__ico--star {
  &:before {
    content: '';
    background: url('../img/sprite/st.png') 0 0 no-repeat;
    width: 162px;
    height: 134px;
    display: inline-block;
  }
}

.feature__ico--prise {
  &:before {
    content: '';
    background: url('../img/sprite/prise.png') 0 0 no-repeat;
    width: 217px;
    height: 144px;
    display: inline-block;
  }
}

.feature__hint {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #e1dfd4;
  border-radius: 25px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  width: 550px;
  top: 108%;
  left: 50%;
  margin-left: -275px;
  text-align: center;
  padding: 4px 10px;
  &:before {
    content: '';
    position: absolute;
    top: -22px;
    background: url('../img/sprite/bel.png') 0 0 no-repeat;
    width: 14px;
    height: 22px;
    left: 50%;
    margin-left: -120px;
  }
}

/* .save */
.save {
  background-color: #FFF2E0;
  border-radius: 6px;
  margin: 0 -30px 40px -30px;
  padding: 20px 30px;
}

.save__title {
  color: black;
  font-family: 'Cuprum', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

.l-save__col {
  white-space: nowrap;
  font-size: 0;
}

.save__col {
  width: 25%;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 30px 0 0;

  font-family: 'Cuprum', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: black;
  span {
    color: #DF5725;
  }
  a {
    color: #DF5725;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* title-alone */
.title-alone {
  color: black;
  font-family: 'Cuprum', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 40px;
}

/* .card */
/********************************/
.card {
  position: relative;
  z-index: 1;
  margin: 0 -60px;
  background: #15909c;
  background: -moz-linear-gradient(top, #15909c 0%, #15909c 14%, #0f7885 49%, #0f7885 82%, #0f7885 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #15909c), color-stop(14%, #15909c), color-stop(49%, #0f7885), color-stop(82%, #0f7885), color-stop(100%, #0f7885));
  background: -webkit-linear-gradient(top, #15909c 0%, #15909c 14%, #0f7885 49%, #0f7885 82%, #0f7885 100%);
  background: -o-linear-gradient(top, #15909c 0%, #15909c 14%, #0f7885 49%, #0f7885 82%, #0f7885 100%);
  background: -ms-linear-gradient(top, #15909c 0%, #15909c 14%, #0f7885 49%, #0f7885 82%, #0f7885 100%);
  background: linear-gradient(to bottom, #15909c 0%, #15909c 14%, #0f7885 49%, #0f7885 82%, #0f7885 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#15909c', endColorstr='#0f7885', GradientType=0);
  background-size: auto 100%;
  border-radius: 6px;
  padding: 20px 60px 0 60px;
  font-size: 0;
}

.card__decor {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  min-height: 580px;
  overflow: hidden;
}

.card__decor-title {
  font-family: 'Cuprum', sans-serif;
  font-size: 67px;
  font-weight: 700;
  line-height: 67px;
  color: white;
  margin-bottom: 30px;
  span {
    color: #FED9A6;
  }
}

.card__decor-bl {
  position: relative;
  &:before {
    margin: 0 0 -140px -74px;
    content: '';
    display: block;
    background: url('../img/card.png') 0 0 no-repeat;
    width: 577px;
    height: 465px;
  }

}

.card__text {
  width: 50%;
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 10px;
  padding-bottom: 10px;
}

.button-3 {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 0 20px;
  position: relative;
  height: 70px;
  background-color: #D9753E;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D9753E), to(#B7351A));
  background-image: -webkit-linear-gradient(top, #D9753E, #B7351A);
  background-image: -moz-linear-gradient(top, #D9753E, #B7351A);
  background-image: -o-linear-gradient(top, #D9753E, #B7351A);
  background-image: -ms-linear-gradient(top, #D9753E, #B7351A);
  background-image: linear-gradient(top, #D9753E, #B7351A);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#D9753E', EndColorStr='#B7351A');
  border-radius: 4px;

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 70px;
  &:hover {
    opacity: .95;
  }
  &:active {
    position: relative;
    top: 3px;
  }
}

.card__text-button-bl {
  padding: 20px;
  background-color: rgba(#f2f0e8, .1);
  border-radius: 6px;
  margin-bottom: 10px;
}

.card__text-button-note {
  padding-top: 10px;
  color: white;
  font-family: 'Cuprum', sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
}

.card__text-h {
  padding: 20px;
}

.card__text-phone {
  color: white;
  font-family: 'Cuprum', sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
}

.card__text-phone-it {
  color: white;
  font-family: 'Cuprum', sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 97px;
}

.card__text-phone-hint {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 14px;
}

.select-bank-text {
  border: 1px dashed #bc9a2a;
  border-radius: 12px;
}

.select-bank-text__item {
  display: none;
  padding: 12px 20px;
  font-family: 'Roboto', sans-serif;
  &.state--active {
    display: block;
  }
}

.select-bank {
  margin-bottom: 14px;
}

.select-bank-text__title {
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.select-bank-text__addr {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 10px;
}

.select-bank-text__time {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.select__dropdown {
  user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 10px;
  white-space: nowrap;

  &:before {
    background: url('../img/sprite/conner.png') 0 0 no-repeat;
    width: 12px;
    height: 8px;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 15px;
  }
  &.state--active {
    &:before {
      transform: rotate(180deg);
    }
  }
}

.select__dropdown-active {
  height: 40px;
  border: 1px solid #bc9a2a;
  border-radius: 4px;
  color: white;
  font-family: 'Cuprum', sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 0 40px 0 20px;
  line-height: 40px;
  cursor: pointer;
  display: inline-block;
}

.select__dropdown-list {
  position: absolute;
  min-width: 100%;
  box-sizing: border-box;
  left: 0;
  top: 42px;
  display: none;
  border: 1px solid #bc9a2a;
  border-radius: 4px;
  padding: 10px 20px;
  font-family: 'Cuprum', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(#D0A83A, .9);
  .state--active & {
    display: block;
  }
}

.select__dropdown-item {
  &.state--active {
    display: none;
  }
  &:hover {
    cursor: pointer;
    color: #e3e3df;
  }
}

.select-bank-line {
  margin-bottom: 14px;
  white-space: nowrap;
}

.select-bank__hint {
  display: inline-block;
  color: white;
  font-family: 'Cuprum', sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  vertical-align: middle;
}

.all-bank {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  span {
    border-bottom: 1px solid rgba(#fff, .2);
    &:hover {
      border-color: transparent;
    }
  }
}

/* slids */
/********************************/
.slids {
  box-sizing: border-box;
  width: 940px;
  border: 4px solid #00717b;
  border-radius: 6px;
  box-shadow: 0 10px 40px rgba(0, 113, 123, 0.44);
  margin-left: -30px;
  overflow: hidden;
  margin-bottom: 80px;
}

.slids__form {
  display: table;
  width: 100%;
  background-color: #00717b;
}

.slids__main {
  padding: 20px 30px;
  display: table-cell;
  width: 66%;
  background-color: #ffffff;
}

.slids__result {
  display: table-cell;
  padding: 20px 0 20px 30px;
  width: 34%;
  background-color: #00717b;
}

.slids__title {
  color: #00707a;
  font-family: 'Cuprum', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

.slids__rule-note {
  color: #00707a;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  padding-left: 30px;
  margin-bottom: 14px;
  margin-left: 2px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
  }
}

.slids__rule-note--star {
  &:before {
    background: url('../img/sprite/star.png') 0 0 no-repeat;
    width: 23px;
    height: 23px;
  }
}

.slids__rule-note--add {
  &:before {
    background: url('../img/sprite/plus.png') 0 0 no-repeat;
    width: 23px;
    height: 23px;
  }
}

.slids__rule {
  &:last-child {
    margin-top: 30px;
  }
}

.slids__rule-res {
  color: #00707a;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.slids__result-title {
  color: white;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

.slids__result-sum {
  color: white;
  font-family: 'Cuprum', sans-serif;
  font-size: 62px;
  font-weight: 700;
  margin-bottom: 40px;
  span {
    display: inline-block;
    position: relative;
    padding-right: 46px;
    line-height: 51px;
    margin-right: 10px;
    &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      background: url('../img/sprite/rub2.png') 0 0 no-repeat;
      width: 34px;
      height: 51px;
      display: inline-block;
    }
  }
  i {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
}

.l-slids__result-notes {
  position: relative;
  font-size: 0;
  margin-bottom: 40px;
}

.slids__result-notes {
  display: inline-block;
  vertical-align: top;
  color: white;
  margin-left: 30px;
  position: relative;
  &:first-child {
    margin-left: 0;
  }
  span {
    display: inline-block;
    font-family: 'Cuprum', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 12px;
    padding-bottom: 8px;
  }
  i {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

  }
}

.slids__result-notes--up {
  &:before {
    content: '+';
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 12px;
    position: absolute;
    right: 0;
  }
}

.slids__rule-up {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}

.slids__rule-res {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 20px;
  top: -6px;
}

.l-slids__rulest {
  white-space: nowrap;
  color: #00707a;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  display: table;
  width: 70%;
  span {
    display: table-cell;
    text-align: center;
    width: 20%;
    &:first-child {
      text-align: left;
      width: 15%;
      padding-left: 12px;
    }
    &:last-child {
      text-align: right;
    }
  }
}

/* .econom */
/********************************/
.econom {
  margin-bottom: 50px;
}

.l-econom__title {
  margin-left: 120px;
  margin-bottom: 20px;
}

.econom__title {
  padding-left: 120px;
  position: relative;
  font-family: 'Cuprum', sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding-top: 20px;
  line-height: 40px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url('../img/sprite/time.png') 0 0 no-repeat;
    width: 92px;
    height: 112px;
    display: block;
  }

}

.econom__decor {
  padding-left: 650px;
  min-height: 290px;
  position: relative;
}

.econom__decor-hand {
  position: absolute;
  background: url('../img/sprite/hand.png') 0 0 no-repeat;
  width: 696px;
  height: 338px;
  left: -60px;
  top: 0;
}

.econom__decor-wave {
  position: absolute;
  background: url('../img/sprite/vav.png') 0 0 no-repeat;
  width: 129px;
  height: 36px;
  top: 30px;
  left: 20px;
}

.econom__decor-note {
  position: relative;
  padding: 74px 0 30px 0;
  &:before {
    content: '';
    position: absolute;
    background: url('../img/sprite/money.png') 0 0 no-repeat;
    width: 161px;
    height: 110px;
    top: 0;
    left: 0;
  }
}

.econom__decor-note-title {
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 14px;
}

.econom__decor-note-txt {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.l-econom__col {
  font-size: 0;
  position: relative;
}

.econom__col {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.econom__col-title {
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 14px;
}

.econom__col-note {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.econom__col-decor {
  background: url('../img/sprite/cards.png') 0 0 no-repeat;
  width: 240px;
  height: 64px;
  margin-bottom: 20px;
}

/*  .tabs-buttons */
/********************************/
.l-tabs-buttons {
  text-align: center;
  margin-bottom: 60px;
}

.tabs-buttons {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  box-shadow: 0 9px 29px rgba(128, 108, 0, 0.51);
  height: 40px;
  border-radius: 20px;
}

.tabs-button {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 40px;
  padding: 0 18px;
  line-height: 40px;
  color: #0072bc;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    color: #000000;
  }
  &.state--active {
    background: #dac39a;
    background: -moz-linear-gradient(top, #dac39a 0%, #e9dbbf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dac39a), color-stop(100%, #e9dbbf));
    background: -webkit-linear-gradient(top, #dac39a 0%, #e9dbbf 100%);
    background: -o-linear-gradient(top, #dac39a 0%, #e9dbbf 100%);
    background: -ms-linear-gradient(top, #dac39a 0%, #e9dbbf 100%);
    background: linear-gradient(to bottom, #dac39a 0%, #e9dbbf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dac39a', endColorstr='#e9dbbf', GradientType=0);

    color: #000000;
    position: relative;

    &:before {
      content: '';
      background: url('../img/sprite/tabs.png') 0 0 no-repeat;
      width: 20px;
      height: 12px;
      top: -10px;
      left: 50%;
      margin-left: -6px;
      position: absolute;
    }
    &:first-child {
      border-radius: 20px 0 0 20px;
    }
    &:last-child {
      border-radius: 0 20px 20px 0;
    }
  }
}

.tabs {
  overflow: hidden;
  margin: 0 -40px;
}

.tabs__item {
  height: 0;
  position: relative;
  opacity: 0;
  transition: opacity .5s;
  &.state--active {
    height: auto;
    opacity: 1;
    min-height: 540px;
  }
  &:first-child {
    margin: 0 40px;
  }
}

.phone-decor {
  background: url('../img/phone.png') 0 0 no-repeat;
  width: 331px;
  height: 534px;
  position: absolute;
  left: -40px;
  top: 0;
}

.tabs__title {
  position: relative;
  padding-left: 240px;
  color: black;
  font-family: Cuprum, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 30px;
  &:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 0;
    background: url('../img/sprite/bnr.png') 0 0 no-repeat;
    width: 186px;
    height: 96px;
  }
}

.bonus__list {
  margin-left: 300px;
  font-size: 0;
  position: relative;
  margin-bottom: 60px;
}

.bonus__list-item {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  padding-top: 150px;
  position: relative;
  span {
    color: black;
    font-family: Cuprum, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
  }

  &:nth-child(1) {
    &:before {
      background: url('../img/sprite/bilet.png') 0 0 no-repeat;
      width: 152px;
      height: 96px;
      top: 50px;
      left: -20px;
    }
  }
  &:nth-child(2) {
    &:before {
      background: url('../img/sprite/kanistra.png') 0 0 no-repeat;
      width: 153px;
      height: 131px;
      top: 20px;
      left: -10px;
    }
  }
  &:nth-child(3) {
    &:before {
      background: url('../img/sprite/cup.png') 0 0 no-repeat;
      width: 218px;
      height: 145px;
      top: 30px;
      left: -30px;
    }
  }
}

.bonus__note {
  position: relative;
  padding-left: 300px;
  text-align: center;
}

.bonus__note-h {
  display: inline-block;
  vertical-align: top;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: -10px;
    top: -10px;
    background: url('../img/sprite/brash.png') 0 0 no-repeat;
    width: 292px;
    height: 79px;
    display: block;
    z-index: -1;
  }
}

.tabs__item-d {
  background-color: #f3f3f3;
  border-radius: 6px;
  padding: 20px 40px;
  margin: 0 0 30px 0;
}

.tabs__item-d-title {
  color: black;
  font-family: Cuprum, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

.tabs__item-scr1 {
  padding-top: 100px;
  position: relative;

}

.tabs__item-t {
  position: absolute;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.tabs__item-t1 {
  top: 40px;
  left: 0;
  a {
    text-decoration: none;
  }
}

.tabs__item-t2 {
  top: 40px;
  left: 300px;
}

.tabs__item-t3 {
  top: 50px;
  left: 640px;
}

.tabs__item-scr2 {
  position: relative;
  padding-top: 100px;
  padding-bottom: 40px;
}

.tabs__item-t4 {
  left: 0;
  top: 40px;
}

.tabs__item-t7 {
  left: 0;
  bottom: 20px;
}

.tabs__item-t5 {
  left: 300px;
  top: 40px;
  width: 529px;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.tabs__item-t6 {
  left: 650px;
  top: 150px;
  width: 250px;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

/* .tips */
/********************************/
.tips {
  position: relative;
  color: #000000 !important;
  text-decoration: none;
  display: inline-block;
}

.tips {
  i {
    font-style: normal;
    cursor: pointer;
    border-bottom: 1px dashed;
    color: #df5725;
    &:hover {
      border-color: transparent;
    }
  }
}

.tooltips {
  display: none;
  position: absolute;
  top: 120%;
  left: 50%;
  margin-left: -130px;
  width: 260px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.44);
  padding: 10px;
  box-sizing: border-box;
  &:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 8px 10px;
    border-color: transparent transparent #ffffff transparent;
  }
  span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 10px;
    color: #000000;
    &:first-child {
      padding-top: 0;
    }
  }
}

/* .footer */
/********************************/
.footer {
  margin-bottom: 40px;
}

.l-footer__col {
  font-size: 0;
  &:first-child {
    padding-top: 40px;
  }
  padding-top: 80px;
}

.footer__col {
  position: relative;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.footer__col-link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.footer__col-note {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.footer__col-copy {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  color: black;
  p {
    margin-top: 0;
    margin-bottom: 1em;
  }
}

.create {
  position: absolute;
  right: 0;
  top: -10px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  span {
    vertical-align: bottom;
    padding-right: 8px;
  }
  img {
    display: inline-block;
    vertical-align: bottom;
    width: 111px;
    height: 30px;
    max-width: 100%;
    max-height: 100%;
  }
}