/* header */
/********************************/
.l-header {
  background: url('../img/top-fone.png') 0 0 repeat-x #d7e5f6;
  background-size: auto 100%;
  overflow: hidden;
}

.header {
  height: 800px;
  position: relative;
  width: 880px;
  margin: 0 auto;
  padding-top: 1px;
}

.logo {
  top: 30px;
  left: 0;
  width: 214px;
  height: 44px;
  display: block;
  position: absolute;
}

.phone {
  position: absolute;
  color: #00717b;
  left: 290px;
  top: 40px;
  font-family: Roboto, sans-serif;
  span {
    font-size: 24px;
    line-height: 22px;
    font-weight: 700;
    display: block;
  }
  i {
    font-style: normal;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
  }
}

.men {
  width: 460px;
  height: 800px;
  position: absolute;
  top: 0;
  left: -40px;
  &:after {
    content: '';
    background: url('../img/men.jpg') 0 0 no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4000px;
    bottom: 0;
    background: url('../img/top-fone.png') 0 0 repeat-x;
  }
}

.button-card {
  position: absolute;
  right: 0;
  top: 36px;
  display: block;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  opacity: 0.87;
  border: 1px solid rgba(#a7b6cd, 0.87);
  border-radius: 3px;
  white-space: nowrap;
  padding: 0 10px;
  color: #06315c;
  font-family: Cuprum, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.top-text {
  margin-top: 130px;
  padding: 0 20px 0 430px;
  position: relative;
}

.title-sub {
  color: black;
  font-family: Cuprum, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.title {
  font-family: Cuprum, sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 66px;
  color: black;
  margin: 0;
  span {
    color: #DF5725;
  }
}

.top-list {
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  list-style-type: none;
  padding: 0;
  margin: 40px 0;
  li {
    padding-left: 20px;
    position: relative;
    margin-top: 14px;
    &:first-child {
      margin-top: 0;
    }
    &:before {
      content: '';
      background: url('../img/sprite/li.png') 0 0 no-repeat;
      width: 9px;
      height: 10px;
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
}

.button-line {
  display: block;
  padding-left: 20px;
}

.sub-button-link {
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.button-top2 {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 0 20px;
  position: relative;
  height: 70px;
  box-shadow: 0 4px 0 #6C2514;
  background-color: #D9753E;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D9753E), to(#B7351A));
  background-image: -webkit-linear-gradient(top, #D9753E, #B7351A);
  background-image: -moz-linear-gradient(top, #D9753E, #B7351A);
  background-image: -o-linear-gradient(top, #D9753E, #B7351A);
  background-image: -ms-linear-gradient(top, #D9753E, #B7351A);
  background-image: linear-gradient(top, #D9753E, #B7351A);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#D9753E', EndColorStr='#B7351A');
  border-radius: 4px;

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  color: #fff;
  font-family: Cuprum, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 70px;
  &:hover {
    opacity: .95;
  }
  &:active {
    position: relative;
    top: 3px;
  }
}

.ico-wave {
  background: url('../img/sprite/ww.png') 0 0 no-repeat;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  width: 13px;
  height: 17px;
  top: 4px;
}

.title-note {
  color: black;
  position: absolute;
  bottom: 100px;
  left: 0;
  font-family: Cuprum, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  span {
    padding-top: 6px;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
}

.link-border {
  text-decoration: none;
  color: #1173b9;
  span {
    border-bottom: 1px solid rgba(#0072bc, .2);
    &:hover {
      border-color: transparent;
    }
  }
}

.visa-top {
  position: absolute;
  background: url('../img/sprite/visa.png') 0 0 no-repeat;
  width: 163px;
  height: 25px;
  left: 526px;
  top: 42px;
}