%input {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  outline: none;
  border: none;
  border-radius: 0;
  line-height: 1.4;
  @extend %tr-all;
  box-shadow: none;
  -webkit-appearance: none;
}

%input-size-default {
  line-height: 1.4;
  font-size: 20px;
  border-width: 1px;
  border-style: solid;
  padding: em(10 20, 20);
}

%input-color-default {
  border-color: #ccc;
  color: #000;
  @include placeholder {
    color: rgba(#999, .4);
  }
  &:focus {
    border-color: #0071bb;
  }
  &.state--error {
    $mainColor: #f11500;
    border-color: $mainColor;
    @include placeholder() {
      color: rgba($mainColor, .4);
    }
  }
}
